/* GLOBAL STYLE */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F2D9B8; /* tan */
    color: #333;
}

.header {
    text-align: center;
    padding: 40px 20px 20px;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 68px;
    font-weight: normal;
    color: #bc8bf5;
    text-shadow: 0px 3px 8px rgba(139, 95, 191, 0.25);
    letter-spacing: 1px;
    line-height: 1.2;
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
    color: #6d4d93;
}

/* MAIN CARD */
.main-card {
    background-color: #ffffff;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 6px;
    padding: 28px 24px;
    border-radius: 22px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

.main-card h2 {
    color: #8B5FBF;
    font-size: 28px;
}

.description {
    margin: 10px auto 25px;
    max-width: 540px;
    color: #444;
}

/* BUTTONS */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: block;
    background: linear-gradient(135deg, #f976fe, #ef9cea);
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 35px;
    transition: transform .2s, box-shadow .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 18px rgba(139,95,191,0.3);
}

/* SECTIONS */
.section {
    max-width: 750px;
    margin: 6px auto;
    padding: 4px 20px;
}

.section h3 {
    color: #8B5FBF;
    font-size: 24px;
    margin-bottom: 6px;
}

/* GRID FOR IMAGES */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    margin-top: 6px;
}

.image-grid img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
}

/* CREATOR SECTION */
.creator {
    text-align: center;
    margin-top: 40px;
}

.creator-title {
    font-size: 32px;
    font-weight: 700;
    color: #8B5FBF;
    margin-bottom: 10px;
}

.creator-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0 15px 0;
    border: 4px solid #8B5FBF;
    box shadow: 0px 4px 12px rgba(139, 95, 191, 0.25);
}

.creator-name {
    font-size: 24px;
    margin: 5px 0;
}

.creator-info {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.creator-subtext {
    font-size: 18px;
    margin-top: 5px;
    line-height: 1.4;
}

.project-tag {
    display: inline-block;
    margin-top: 6px;
    padding: 6px 12px;
    background-color: #F2D9B8; /* soft tan */
    border-radius: 10px;
    color: #8B5FBF; /* lavender */
    font-weight: 600;
    font-size: 15px;
    border: 1px solid rgba(139, 95, 191, 0.25);
    box-shadow: 0 2px 6px rgba(139, 95, 191, 0.15);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 18px 10px;
    font-size: 14px;
    color: #5e447c;
}
